/* 컴포넌트에 대한 전역 공통 스타일링 필요한 경우 작성 - 예시 */

/* 예시: 버튼 스타일링 */
button {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--primary-color-dark);
  }