@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

/* 모든 요소 초기화 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 기본 폰트 설정 */
body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  color: #333333;
  font-size: 14px; /* 기본 글자 크기  */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1 {
  font-size: 24px; 
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}


/* 링크 스타일 초기화 */
a {
  text-decoration: none; 
  color: inherit;
}

/* 기본 색상 설정 */
:root {
  --primary-color: #7B4B42; /* 기본(primary) 색상 */
  --secondary-color: #F7B32B; /* 보조(secondary) 색상 */
  --primary-color-20: #7b4b4220;
  --primary-color-light: #9E6F60;
  --primary-color-dark: #5A3A2E;  
  --secondary-color-light: #F9C756;
  --secondary-color-dark: #F29F1F; 
  --black: #121212;
  --disabled-color: #B0B0B0; /* 비활성화된 버튼이나 텍스트 색상 */
  --gray_light: #c8c8c8;
  --gray_bg: #f9f9f9;
}
